body {
    background: #fddaef;
    color: black;
    max-width: 70%;
}

a {
    color: blue;
}

a {
    color: blue;
}

a:hover {
    font-style: italic;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.italic {
    font-style: italic;
}

img {
    max-width: 50%;
}

/* main.browser-walk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

button.kickoff {}

button:hover {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

#sparkles {
    top: 2%;
    right: 2%;
    width: 7%;
}

#end-note {
    height: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 90%;
    }

    #sparkles {
        width: 15%;
    }
}


iframe.waterproof {
    border: none;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 7vw;
    bottom: 1vh;
    left: 0;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    iframe.waterproof {
        border: none;
        overflow: hidden;
        position: fixed;
        width: 100vw;
        height: 10vw;
        bottom: 10vh;
        left: 0;
        cursor: pointer;
    }
}