body {
    background: #fddaef;
    color: black;
    max-width: 70%;
}

a {
    color: blue;
}

a {
    color: blue;
}

a:hover {
    font-style: italic;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.italic {
    font-style: italic;
}

img {
    max-width: 50%;
}

/* main.browser-walk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

button.kickoff {}

button:hover {
    cursor: pointer;
}